.card-container {
   margin: 1rem;
}

.card-img {
   width: 200px;
   border-radius: 5px;
}

.card-description {
   text-align: center;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   max-width: 150px;
   margin: 0 auto;
   margin-top: 5px;
}